@tailwind base;
@tailwind components;
@tailwind utilities;


#__nuxt {
    height: 100%;
}

.message {
    position: relative;
}

.message::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(63 63 70);
}

.message_from::before {
    left: 100%;
    transform: translateX(-50%);
}

.message_to::before {
    left: 0;
    transform: translateX(-50%);
}

.messages::-webkit-scrollbar {
    display: none;
}

.icons-leave-active,
.icons-enter-active {
    transition: all .3s;
    position: absolute;
}
.icons-enter-from {
    opacity: 0;
    transform: scale(0);
}

.icons-leave-to {
    opacity: 0;
    transform: scale(3)
}


.nav-btn__line {
    position: absolute;
    left: 0;
    transition: all .3s;
    transform-origin: center center;
}

.nav-btn__line_1 {
    top: 5px;
}

.nav-btn__line_1.active {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
}

.nav-btn__line_2 {
    bottom: 5px;
}

.nav-btn__line_2.active {
    bottom: 50%;
    transform: rotate(-45deg) translateY(50%);
}

.chat-textarea {
    overflow: visible;
    resize: none;
}

.chat-textarea::-webkit-scrollbar {
    display: none;
}

.chat-leave-active,
.chat-enter-active,
.chat-move {
    transition: all .3s;
}

.chat-leave-active {
    position: absolute;
}

.chat-enter-from,
.chat-leave-to {
    opacity: 0;
    transform: translateX(60px);
}